version: '2'
services:

  api:
    image: retypeme/retypeme-backend:{{ version }}
    restart: always
    ports:
      - "8082:8080"

    environment:
      SPRING_PROFILES_ACTIVE: "{{ profile }}"
      JASYPT_ENCRYPTOR_PASSWORD: "{{ jasypt_password }}"
      SPRING_DATA_REDIS_PASSWORD: "{{ jasypt_password }}"
    depends_on:
      - redis

  ui:
    image: retypeme/retypeme-frontend-{{ env }}:{{ version }}
    restart: always
    ports:
      - "3001:3000"

  redis:
    image: redis:latest
    restart: always
    command: ["redis-server", "--requirepass", "{{ jasypt_password }}"]
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
    driver: local
